/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
/* global setting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
}
input[type="submit"],
button {
  border: none;
  outline: none;
}
body {
  background-color: #18191B;
  scroll-behavior: smooth;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.info-container {
  margin: 0 auto;
}
/* start header section  */
.header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
}
.header .logo,
.header .navbar {
  width: 50%;
}
.header .logo h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 30px 30px 30px 100px;
}
.header .logo h2:hover {
  color: #ff5d20;
}

ul li {
  padding-top: 35px;
}
.navbar ul li a {
  padding: 35px 10px 35px;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
}
.navbar ul li a:hover {
  background-color: #ff5d20;
}
/* start home secion  */
.bg-img {
  background-image: url(./images/theme-slide14.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.home .content h1 {
  padding-bottom: 20px;
  color: #fff;
  font-size: 40px;
  margin: 100px;
  margin: 200px 100px 10px 100px;
}
.home .content h4 {
  color: #fff;
  font-size: 20px;
  margin: 0px 100px 30px 100px;
}
.home .content .btn {
  padding: 15px 25px 15px 25px;
  color: #fff;
  margin: 50px 100px 10px 100px;
  background-color: #ff5d20;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}
.home .content .btn:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #ff5d20;
}
/* start info area */
.info-area {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ff5d20;
  color: #fff;
  padding: 20px 0 20px 0;
  margin: 0 auto;
}
.info-area .info-one,
.info-area .info-second,
.info-area .info-third {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.8;
}
.icon i {
  font-size: 30px;
  color: #ff5d20;
  background-color: #fff;
  border-radius: 50%;
  padding: 20px;
  margin-right: 20px;
}
.info-area .info-one:hover .icon i,
.info-area .info-second:hover .icon i,
.info-area .info-third:hover .icon i {
  background-color: #000;
  color: #fff;
}
/* start about me section  */
.about-me {
  max-width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  /* background-color: #18191b; */
  padding: 50px;
  margin-top: 10px;
  height: 420px;
}
.about-me h2 {
  color: #ff5d20;
  font-size: 26px;
  padding-bottom: 15px;
}
.about-me p {
  color: #888;
  text-transform: capitalize;
  line-height: 1.6;
  width: 70%;
  margin-bottom: 20px;
}
.skills h3,
.experince h3 {
  color: #fff;
  margin-bottom: 25px;
  padding: 0 30px 30px 30px 30px;
  font-size: 24px;
  margin-top: 30px;
}
.skills span ,
.experince span{
  background-color: #ff5d20;
  color: #fff;
  padding: 15px 30px 15px 30px;
  border-radius: 50px;
  margin-left: 15px;
}
/* start services secion  */
.services {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.heading {
  text-align: center;
  color: #fff;
  padding: 40px;
  line-height: 2;
}
.heading h3 {
  font-size: 40px;
  text-transform: capitalize;
}

.services .service i {
  color: #fff;
  background-color: #ff5d20;
  padding: 25px;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
}
.services .service {
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  line-height: 1.7;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  margin-left: 20px;
  /* background-color: #333333; */
  padding: 10px;
}
.services .service p {
  padding-top: 15px;
}
.services .service i:hover .icon {
  border: 1px solid #ff5d20;
  padding: 10px;
}

 /* start work section  */
 .works{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .works .work{
   width: 60%;
   border: 1px solid #444;
   background-color: #333;
   text-align: center;
   margin-left: 20px;
   line-height: 1.6;
   padding-bottom: 20px;
 }
 .works .work:hover{
 background-color: #ff5d20;
}
 .works .work img{
   width: 100%;
 }
 .works .work h2, 
 .works .work p{
   color: #fff;
 }
 /* start contact section  */
 .contact  {
   margin: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;

 }
 .contact .info{
   color: #888;
   box-shadow: 0 0 15px rgba(0,0,0,0.25);
   padding: 50px;
   width: 50%;
   line-height: 1.7;
   background-color: #18191B;
 }
 .contact .info h4{
   text-transform: capitalize;
   color: #ff5d20;
   font-size: 24px;
 }
 .contact .info h4 i{
   padding-right: 10px;
 }

 .contact .forms{
   width: 50%;
   padding: 15px;
   color: #fff;
   margin-left: 10px;
   box-shadow: 0 0 15px rgba(0,0,0,0.25);
 }
 .contact .forms h3{
   text-align: center;
   color: #ff5d20;
   text-transform: capitalize;
   padding-bottom: 15px;
 }
 .contact .forms form div{
    margin-bottom: 30px;
    width: 100%
 }
 .contact .forms form div label input{
   width: 100%;
   height: 50px;
   background-color: #18191b;
   color: #444;
   outline: none;
   border: none;
   border: 1px solid #333;
   padding-left: 8px;
 }
 .contact .forms form div label input:focus::placeholder{
   opacity: 0;
   transition: 0.5s;
 }

